/* CSS/Contact.css */

.card {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    margin-top: 2%;
}

.warning {
    margin: 20px 0;
    padding: 10px;
    background-color: #ffc107;
    color: #333;
    border: 1px solid #ffeeba;
    border-radius: 4px;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
}

.contact-info {
    flex: 1;
    margin-top: 10%;
    margin-left: 10%;
}

.contact-form {
    flex: 1;
    background-color: rgba(79, 161, 208, 0.5);
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 80;
}

.contact-form h2 {
    margin-bottom: 20px;
    color: #333;
    justify-content: center;
    text-align: center;
}

.contact-form label {
    display: block;
    margin-bottom: 8px;
    color: #333;
    
}

.contact-form input,
.contact-form textarea,
.contact-form select {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

.contact-form button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #45a049;
}