/* CSS for ProductList component */

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product-card {
    width: 250px;
    margin: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
}

.product-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.product-card h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.product-card p {
    margin-bottom: 10px;
}

/* Optional: Add hover effect */
.product-card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
}
.section__title{
    justify-content: center;
    text-align: center;
}