/* CSS for ProductList component */

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product-card {
    width: 250px;
    margin: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
}

.product-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.product-card h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.product-card p {
    margin-bottom: 10px;
}
.load-more {
    cursor: pointer;
    font-size: 38px;
    color: #080808;
    /* Adjust the color as needed */
    transition: color 0.3s ease;
    margin-top: -8%;
    /* Adjust the margin-top as needed */
}

.load-more:hover {
    color: #0056b3;
    /* Adjust the hover color as needed */
}
/* Optional: Add hover effect */
.product-card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
}
.section-title{
    justify-content: center;
    text-align: center;
    
}
.blog__item img:hover,
.car__item img:hover {
    transform: scale(1.1);
    /* You can adjust the scale value as needed */
    transition: transform 0.3s ease;    
}