/* Navbar.css */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #333;
    /* Change the background color as needed */
    color: white;
    /* Change the text color as needed */
        height: auto;
        width: auto;
}

.nav-logo {
    display: flex;
    align-items: center;
    height: auto;
        width: auto;
}

.nav-logo img {
    width: 50px;
    /* Adjust the logo size as needed */
    height: auto;
    margin-right: 10px;

}

.nav-menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    height: auto;
        width: auto;
}

.nav-menu li {
    margin-right: 20px;
    position: relative;
}

.nav-menu a {
    text-decoration: none;
    color: white;
    /* Change the text color as needed */
    font-weight: bold;
}

.nav-menu hr {
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #ff9800;
    /* Change the highlight color as needed */
    border: none;
    
}

.nav-login-cart button {
    background-color: #3d5ed4;
    /* Change the button color as needed */
    color: #ebe2e2;
    /* Change the button text color as needed */
    border-radius: 10%;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
}

/* Add any additional styling as needed */