/* Navbar Container */
.navbar {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px 20px;
    transition: background-color 0.3s;
}

/* Navbar Content */
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.navbar-nav {
    margin-left: auto;
    font-size: 120%;
    
}

/* Logo Section */
.nav-logo {
    display: flex;
    align-items: center;
}

.nav-logo img {
    width: 70px;
    height: 50px;
    cursor: pointer;
    margin-right: 10px;
}

/* Navigation Menu */
.nav-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.nav-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-menu li {
    margin-right: 20px;
}

.navbar-nav a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 18px;
    transition: color 0.3s, border-bottom 0.3s;
    /* Add transition for smooth effect */
}

/* Add an underline to the active link */
.navbar-nav a.active {
    border-bottom: 2px solid #00ff55;
}

.navbar-nav a:hover {
    color: #007bff;
    box-sizing: content-box;
    border-bottom: 2px solid #007bff;
}

/* Profile Section */
.profile-section {
    margin-left: auto;
}

.profile-section img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

/* Login Form */
.login-form {
    margin-left: 20px;
}

.login-form button {
    color: #faf6f6;
    background-color: rgb(14, 27, 202);
    margin-top: 30px;
}

.login-form button:hover {
    color: #2f14de;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .nav-menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        z-index: 1;
    }

    .nav-menu.show {
        display: flex;
    }

    .nav-menu.vertical {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .nav-menu.vertical li {
        margin: 0;
        text-align: center;
        padding: 10px;
    }
}