/* Footer.css */
.footer {
    background-color: #efeaea;
    color: rgb(94, 52, 233);
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 100%;
}

.footer-section {
    flex: 1;
    margin-right: 20px;
    margin-bottom: 20px;
}

.footer-section h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    margin-top: auto;
    justify-content: center;
    text-align: center;
}

.footer-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-section li {
    margin-bottom: 8px;
}

.about {
    text-align: center;
    justify-content: center;
}

.policy {
    text-align: center;
    justify-content: center;
}

.useful-links {
    text-align: center;
    justify-content: center;
}

.footer-section a {
    text-decoration: none;
    color: rgb(18, 17, 17);
    font-weight: bold;
    font-size: 15px;
}

.footer-section a:hover {
    text-decoration: underline;
}

.social-media {
    flex: 1;
}

.social-icons {
    display: flex;
    justify-content: center;
    /* Center the icons horizontally */
}

.social-icon {
    margin-top: 50%;
    margin-right: 10px;
    animation: bounce 1s infinite alternate;
}

.social-icons .react-social-icon {
    width: 30px;
    /* Adjust the width as needed */
    height: 30px;
    /* Adjust the height as needed */
}

.section h2 {
    margin-top: auto;
    justify-content: center;
    text-align: center;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-10px);
    }
}

.copyright {
    flex-basis: 100%;
    text-align: center;
}