/* Privacy_Policy.css */

.privacy-policy-container {
    width: 80%;
        margin: 0 auto;
        margin-top: 30px;
        padding: 50px;
}

.privacy-policy-title {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

.privacy-policy-section {
    margin-bottom: 20px;
}


.privacy-policy-divider {
    margin: 20px 0;
    border: none;
    border-top: 1px solid #080808;
    /* Add a border-top for division */
}

.privacy-point {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-left: 80px;
}

.check-icon {
    margin-right: 10px;
    color: rgb(9, 9, 9);
}

.privacy-policy-section-border {
    margin-top: 20px;
    border-top: 1px solid #ddd;
}

/* Additional styles for h2 in PolicySection */
.privacy-policy-section h2 {
    color: rgb(126, 104, 247);
    margin-bottom: 10px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}
.privacy-policy-content strong{
    color: rgb(104, 100, 100);
}